<!-- comment_create.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Yorum Yap</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h2 class="mt-4">Yorum Yapın</h2>
  
    <form method="post" action="{% url 'comment_create' film_title=film.title %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="content">Yorum:</label>
        <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Yorum Yap</button>
    </form>
  </div>
</body>
</html>
